{% extends 'page.html' %}
{% block title %} 文章列表 {% endblock %}
{% block header_title %}
    文章列表
{% endblock %}
{% block header_subtitle %}
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">写文章</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>
                        <a href="{{ url_for('blog.get_post_in_detail',id=post['id'],title=post['title']) }}">{{ post['title'] }}</a>
                    </h1>
                    <div class="about">by <a
                            href="{{ url_for('auth.info', id=post['author_id']) }}">{{ post['username'] }}</a>
                        on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">编辑文章</a>
                {% endif %}
            </header>
            <p class="summary">{{ post['summary'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
        {% else %}
        <h1>还没有文章发布~,快登录发表吧~</h1>
    {% endfor %}
{% endblock %}
