body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: absolute;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #4b505a;
    background-color: #f5f5f5;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 20px;
}

h2:after, h3:after, h4:after, h5:after, h6:after {
    display: block;
    content: " ";
    margin-top: 8px;
    width: 40px;
    border-bottom: 3px solid rgb(21, 124, 226);
}

h3:after, h4:after, h5:after, h6:after {
    border-bottom: 2px solid rgb(158, 202, 247);
}

blockquote {
    color: #666;
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    font-size: 14px;
    font-style: italic;
}

p a {
    text-decoration: none;
    color: #157ce2;
    padding: 2px 3px;
}

p a:hover {
    color: #fff;
    background-color: #157ce2;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #999;
}

img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


pre {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f6f6f6;
    overflow: auto;
}

code {
    padding: 3px 5px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-radius: 2px;
    margin: 0 5px;
    color: #555;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

/* header css */
#header {
    width: 100%;
    height: 360px;
    color: #fff;
    background-position: center;
    background-image: url(images/bg4.jpg);
    background-size: cover;
}

@media (min-width: 768px) {
    .header-container, .main-container, .footer-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .header-container, .main-container, .footer-container {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    .header-container, .main-container, .footer-container {
        width: 850px;
    }
}

.header-container {
    margin: 0 auto;
    padding: 30px 0;
}

.header-nav {
    font-size: 16px;
    font-weight: 600;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
}

.header-logo, .nav {
    display: inline-block;
}

.header-nav .nav a {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.header-nav .nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.header-content {
    padding: 70px 30px 0;
    text-align: center;
}

.header-content .header-title {
    margin: 15px 0;
}

.underline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50px;
    border-bottom: 3px solid rgb(21, 124, 226);
}

.header-content p.header-subtitle {
    font-style: italic;
}

.header-date {
    font-size: 12px;
    opacity: 0.8;
}

.header-date span {
    margin: 0 10px;
}

.header-date a {
    color: #eee;
    text-decoration: underline;
}

.header-date a:hover {
    color: #fff;
    background: none;
}


/* main css */
#main {
    margin: 30px 0;
    padding-bottom: 90px;
}

.main-container {
    margin: 0 auto;
    padding: 20px 30px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

ul.post-list {
    margin-top: 30px;
    padding-left: 50px;
    list-style: none;
}

li.post-item {
    padding: 3px;
}

li.post-item span {
    font-size: 14px;
    color: #777;
    margin-right: 20px;
}

li.post-item a {
    text-decoration: none;
    color: rgb(21, 124, 226);
}

li.post-item a:hover {
    color: #145ba2;
    border-bottom: 1px solid #145ba2;
}


/* footer css */
#footer {
    background: #333 url(images/footer-bg.png) left top repeat;
    bottom: 0;
    width: 100%;
    height: 88px;
    position: absolute;
}

#footer p {
    margin: 0;
}

.footer-container {
    text-align: center;
    margin: 0 auto;
    padding: 8px 0;
    color: #999;
    font-size: 13px;
}

.footer-container a {
    text-decoration: none;
    color: #666;
}

.footer-container a:hover {
    color: #999;
}


.user_info {
    font-size: 1.2em;
    font-weight: bold;
}

label.post_info, label.user_info {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    width: 5rem;
}

input, textarea {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 14px 14px;
    width: 500px;
    font-size: 18px;
}

textarea {
    height: 800px;
    width: 700px;
}


input:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.btn-two {
    margin: 9px;
    color: white;
    display: inline;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
    width: 100px;
    text-align: center;
}

.btn-two:active {
    top: 1px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}

.btn-two.green {
    background-color: #9abf7f;
}

.btn-two.red {
    background-color: indianred;
}

.rounded {
    border-radius: 10px;
}

/*valine 评论系统样式*/

div#comments.comments.v{
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

div.vheader.item2{
  border-bottom: 1px solid #5f5f5f;
  height: 35px !important;
}

.v .vwrap .vheader.item2 .vinput{
  height: 30px !important;
  border: 0 !important;
  width: 25% !important;
  margin: 0px !important;
}

input.vnick.vinput{
  border-right: 2px solid #a4d8fa !important;
}

div.vcontrol{
  padding-top: 0 !important;
}

div#comments.comments.v{
  border: 0;
}

.v .vwrap{
  border: 2px solid black !important;
  height: 210px !important;
  border-radius: 6px !important;
  overflow: visible !important;
  counter-reset: avater;
}

.v .vwrap .vedit .vemojis{
  width: 600px !important;
  background-color: #fff !important;
  border-radius: 5px !important;
}

.v .vwrap .vedit .vpreview {
  width: 600px !important;
  background-color: #fff !important;
  border-radius: 5px !important;
}

.v .vbtn{
  background-color: #5f5f5f !important;
  color: #fff !important;
}

.v .vwrap .vedit .vctrl{
  text-align: left !important;
}

.v .vwrap .vedit .vctrl span{
  background-color: #7f7f7f !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding: 3px !important;
}

.v .vwrap .vedit .vctrl{
  padding: 0 !important;
  margin: 0 !important;
}

div.vedit{
  height: 120px;
}

.v .veditor{
  min-height: 70px !important;
  height: 70px !important;
}


.v .vlist .vcard {
  border: 1px dashed #49b1f5 !important;
}

.v .vlist .vcard .vhead .vsys{
  display: none !important;
  background-color: #fff !important;
}

.v .vlist .vcard .vh .vmeta .vat{
  background-color: #7f7f7f !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.v .vlist .vcard .vhead:before{

    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 12px 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    background-color: #55aacf;
    border-radius: 50%;
    text-align: center;

    /*content: counter(avater)&apos楼&apos;*/
    counter-increment: avater;
}

.v .vlist .vcard .vquote{
  margin-left: 80px;
}

.v .vlist .vcard .vquote{
  counter-reset: avaters;
}

.v .vlist .vcard .vquote  .vhead:before{
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 0 12px 0 0;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    background-color: #fff;
    border: 3px solid #60a1e5;
    border-radius: 50%;
    text-align: center;

    content: counter(avaters);
    counter-increment: avaters;
}

.v .vlist .vcard  p{
  margin-bottom: 0px !important;
  color: #666;
  text-align: left;
  letter-spacing: 3px;
  line-height: 25.59375px;
}
.v .vlist .vcard .vquote a.at{
  float: left;
  margin-right: 13px;
  color: #567843;
  text-decoration: none;
}

.v .vlist .vcard .vquote .vcontent{
  font-size: 15px;
  font-weight: 200;
}

.v .vlist .vcard .vcontent{
  margin-top: 58px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding-top: 0px !important;
}

.v .vlist .vcard .vhead .vnick{
  font-size: 17px !important;
  font-weight: 600 !important;
}

.v .vlist .vcard{
  padding-top: 8px !important;
}

.v .vlist .vcard .vhead{
  float: left !important;
}

.v .vlist .vcard .vh .vmeta{
  float: right !important;
}

.v .vlist .vcard .vcontent.expand:after{
  content: "点击查看全部" !important;
  font-weight: 400 !important;
}
