{% extends 'page.html' %}

{% block header_title %}
    <h1>{% block title %}注册{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="avatar" class="user_info">头像:</label>
        <br>
        <input type="file" name="avatar" id="avatar" required>
        <label for="username" class="user_info">用户名: </label>
        <input name="username" id="username" required>
        <br>
        <label for="password" class="user_info">密码: </label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Register" class="btn-two green rounded">
    </form>
{% endblock %}